.App {
  text-align: center;
}

.react-grid-layout {
  background-color: #222123;
  border: 15px ridge rgba(236, 122, 20, 0.87);
  margin: 0 auto;
}

.item {
  background-color: rgba(200, 0, 0, 0.25);
  border: 1px solid #340800;
  box-sizing: border-box;
}

.inventory-item-image {
  height: 100%;
  width: 100%;
}

.react-grid-item.react-grid-placeholder {
  display: none;
}
