.App {
  text-align: center;
}

.react-grid-layout {
  background-color: #222123;
  border: 15px ridge rgba(236, 122, 20, 0.87);
  margin: 0 auto;
}

.item {
  background-color: aqua;
  border: 1px solid slategrey;
  box-sizing: border-box;
}
